
[deployment]
run = ["python3", "start_pdf_service.py"]
deploymentTarget = "gce"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 45112413
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 start_pdf_service.py"

[nix]
channel = "stable-25_05"
packages = ["libxcrypt"]
